# This file's format is documented at
# https://forge.rust-lang.org/triagebot/pr-assignment.html#configuration

[notify-zulip."beta-nominated".compiler]
required_labels = ["T-compiler", "beta-nominated", "!beta-accepted"]
zulip_stream = 384059
topic = "#{number}: beta-nomination"
message_on_add = [
    """\
PR #{number} "{title}" fixes a regression.
{recipients} please evaluate nominating this PR for backport, thanks!
The following poll is a vibe-check and not binding.
""",
    """\
/poll Should #{number} be beta backported?
approve
decline
don't know
""",
]
message_on_remove = "PR #{number}'s beta-nomination has been removed."

# classic relabel
[relabel]

# relabel using aliases
[relabel.alias]
add-labels = []
rem-labels = []

[backport.t-compiler-beta-backport]
# The pull request MUST have one of these labels
required-pr-labels = ["T-compiler"]
# The regression MUST have this label
required-issue-label = "regression-from-stable-to-beta"
# if the above conditions matches, the PR will receive these labels
add-labels = ["beta-nominated"]
