# This file's format is documented at
# https://forge.rust-lang.org/triagebot/pr-assignment.html#configuration

[notify-zulip."beta-nominated".compiler]
# NOTE: negated labels will prevent this:
# we have a beta-accepted PR
# we add beta-nominated
# zulip notification is triggered
#required_labels = ["T-compiler", "beta-nominated", "!beta-accepted"]
required_labels = ["T-compiler", "beta-nominated"]
zulip_stream = 554919
topic = "#{number}: beta-nominated"
message_on_add = [
    """\
PR #{number} "{title}" fixes a regression.
{recipients} please evaluate nominating this PR for backport, thanks!
The following poll is a vibe-check and not binding.
""",
    """\
/poll Should #{number} be beta backported?
approve
decline
don't know
""",
]
message_on_remove = "PR #{number}'s beta-nomination has been removed."

[notify-zulip."stable-nominated".compiler]
required_labels = ["T-compiler", "stable-nominated", "!stable-accepted"]
zulip_stream = 554919
topic = "#{number}: stable-nominated"
message_on_add = [
    """\
PR #{number} "{title}" fixes a regression.
{recipients} please evaluate nominating this PR for backport, thanks!
The following poll is a vibe-check and not binding.
""",
    """\
/poll Should #{number} be stable backported?
approve
decline
don't know
""",
]
message_on_remove = "PR #{number}'s stable-nomination has been removed."

[notify-zulip."beta-accepted".compiler]
required_labels = ["T-compiler"]
zulip_stream = 554919
# Put it in the same Zulip topic as beta-nominated.
topic = "#{number}: beta-nominated"
message_on_add = "PR #{number} has been **accepted** for **beta** backport."

[notify-zulip."stable-accepted".compiler]
required_labels = ["T-compiler"]
zulip_stream = 554919
# Put it in the same Zulip topic as beta-nominated.
topic = "#{number}: stable-nominated"
message_on_add = "PR #{number} has been **accepted** for **stable** backport."

# classic relabel
[relabel]

# relabel using aliases
[relabel.alias]
add-labels = []
rem-labels = []

[backport.t-compiler-beta-backport]
# The pull request MUST have one of these labels
#required-pr-labels = ["T-compiler", "!beta-accepted"]
required-pr-labels = ["T-compiler"]
# The regression MUST have this label
required-issue-label = "regression-from-stable-to-beta"
# if the above conditions matches, the PR will receive these labels
add-labels = ["beta-nominated"]
